# Ignore Python environments
satenv/
mlenv/

# Ignore CSV, Excel, HDF5 files
*.csv
*.xlsx
*.xls
*.h5
*.hdf5
*.nc
*.grib
*.grib.*

# Ignore Jupyter notebooks
*.ipynb

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# Ignore VS Code settings
.vscode/

# Ignore docx and other office files
*.docx
*.pptx
*.ppt
*.pdf

# Ignore other temp files
*.tmp
*.bak
*.swp
